<?xml version="1.0" encoding="UTF-8"?>
<web-app id="fckeditor-java" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <description>FCKeditor.Java Sample Web Application</description>
 <display-name>FCKeditor.Java Sample Web Application</display-name>
 <servlet>
  <servlet-name>ConnectorServlet</servlet-name>
  <servlet-class>net.fckeditor.connector.ConnectorServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>ValidateCodeServlet</servlet-name>
  <servlet-class>bean.ValidateCode</servlet-class>
  <init-param>
   <param-name>width</param-name>
   <param-value>60</param-value>
  </init-param>
  <init-param>
   <param-name>height</param-name>
   <param-value>20</param-value>
  </init-param>
  <init-param>
   <param-name>codeNum</param-name>
   <param-value>4</param-value>
  </init-param>
 </servlet>
 <servlet>
  <servlet-name>addcolumnAction</servlet-name>
  <servlet-class>bean.servlet.column.AddColumnAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>deleteColumnAction</servlet-name>
  <servlet-class>bean.servlet.column.DeleteColAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>UpdateColAction</servlet-name>
  <servlet-class>bean.servlet.column.UpdateColAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AddArticleAction</servlet-name>
  <servlet-class>bean.servlet.article.AddArticleAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>EditArticle</servlet-name>
  <servlet-class>bean.servlet.article.EditArticle</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DeleteArticle</servlet-name>
  <servlet-class>bean.servlet.article.DeleteArticle</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>MakeArticle</servlet-name>
  <servlet-class>bean.servlet.article.MakeArticle</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ValidateCodeAction</servlet-name>
  <servlet-class>bean.servlet.article.ValidateCodeAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>LoginAction</servlet-name>
  <servlet-class>bean.LoginAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>logout</servlet-name>
  <servlet-class>bean.Logout</servlet-class>
 </servlet>
 <servlet>
  <description>This is the description of my J2EE component</description>
  <display-name>This is the display name of my J2EE component</display-name>
  <servlet-name>addCommentAction</servlet-name>
  <servlet-class>bean.servlet.comment.addCommentAction</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ValidateCodeActions</servlet-name>
  <servlet-class>bean.servlet.article.ValidateCodeActions</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ConnectorServlet</servlet-name>
  <!--
			Do not wrap this line otherwise Glassfish will fail to load this file
		-->
  <url-pattern>/fckeditor/editor/filemanager/connectors/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ValidateCodeServlet</servlet-name>
  <url-pattern>/validateCodeServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>addcolumnAction</servlet-name>
  <url-pattern>/column/addColumnAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>deleteColumnAction</servlet-name>
  <url-pattern>/column/deleteColAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>UpdateColAction</servlet-name>
  <url-pattern>/column/updateColAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddArticleAction</servlet-name>
  <url-pattern>/article/addArticleAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EditArticle</servlet-name>
  <url-pattern>/article/editArticle</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>DeleteArticle</servlet-name>
  <url-pattern>/article/deleteArticle</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MakeArticle</servlet-name>
  <url-pattern>/article/makeArticle</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ValidateCodeAction</servlet-name>
  <url-pattern>/article/validateCodeAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>LoginAction</servlet-name>
  <url-pattern>/admin/login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>logout</servlet-name>
  <url-pattern>/admin/logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>addCommentAction</servlet-name>
  <url-pattern>/servlet/addCommentAction</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ValidateCodeActions</servlet-name>
  <url-pattern>/article/validateCodeActions</url-pattern>
 </servlet-mapping>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
