<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>tindex.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    <p>首页模板管理</p>
    <form action="">
    <table border="0">
    
<tr style="border-bottom: 1px solid red;">
<td>模块编号</td><td>名称</td><td>链接</td><td>其它</td>
</tr>  
<tr>
<td><input type="text" value="1" readonly="readonly"> </td><td><input type="text" value="导航"></td><td> <input type="text" value="tindex.jsp?param=1"> </td><td> <input type="checkbox"> </td>
</tr>  
<tr>
<td><input type="text" value="2" readonly="readonly"> </td><td><input type="text" value="左侧"></td><td> <input type="text" value="tindex.jsp?param=2"> </td><td> <input type="checkbox"> </td>
</tr>  
<tr>
<td><input type="text" value="3" readonly="readonly"> </td><td><input type="text" value="右侧"></td><td> <input type="text" value="tindex.jsp?param=3"> </td><td> <input type="checkbox"> </td>
</tr>  
    </table>
    </form>
  </body>
  
</html>
