DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
A:link {
	COLOR: #015fb6; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: #015fb6; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: #015fb6; TEXT-DECORATION: underline
}
A:active {
	COLOR: #0000ca; TEXT-DECORATION: underline
}
.titleTime {
	TEXT-ALIGN: right;
	COLOR: gray;
}
.list {
}

.frame {
	BORDER-BOTTOM: gray 1px solid;
	BORDER-LEFT: gray 1px solid;
	BORDER-TOP: gray 1px solid;
	BORDER-RIGHT: gray 1px solid;
}
SPAN {
	COLOR: gray
}
