.conlist {
	FONT-SIZE: 14px;
	list-style-image: url(../images/dotblue.gif);
}
.namelist {
	FONT-SIZE: 16px
}
.title_column {
	MARGIN: 5px 0px 0px 20px; HEIGHT: 30px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
H5 {
	BACKGROUND: url(http://csdnimg.cn/www/images/csdnindex_pic11.gif) repeat-x 0px 0px; HEIGHT: 15px; BORDER-TOP: #cccccc 0px solid
}
H4 .more {
	MARGIN: 0px 0px 0px 70%; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #015fb6; TEXT-DECORATION: underline
}
A:active {
	COLOR: #0000ca; TEXT-DECORATION: underline
}
.listStyle {
	LIST-STYLE-IMAGE: url(/WebSite6/cssimage/li.jpg)
}
